// COLORS
$white: #fff;
$whiteBluish: #F4FAFA;
$bluish: #f6f9fc;
$bluishDarken: #f6f9fc;
$purple: #7860FE;
$purpleLight: #BDABFD;
$purpleDark: #32325d;
$cyanBlue: #45d9ef;
$cyanBlueLighter: #47E2FA;
$mediumGray: #797E85;
$darkGray: #303337;

// TEXT
$subTitleColor: $mediumGray;
$subTitleMsgColor: $darkGray;

// BUTTONS
$primaryButtonShadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
$primaryButtonShadowHover: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);

// GRADIENTS
$purpleGradient: to right, $purpleLight, $purple;
$cyanGradient: to right, #36d1dc, #5b86e5;
$purpleRadialGradient: radial-gradient(ellipse farthest-corner at top right,#7860fe 0%,#bdabfd 100%);

// BORDERS
$defaultBorderRadius: 4px;

// OTHER
$cardShadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
$cardShadowHover: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);

$featureCardShadow: 12px 12px 20px 0px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);